px*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body
{
    background-color: #111;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    
    display: flex;
}
.heart
{
    height: 100px;
    width: 100px;
    background-color: red;
    transform: rotate(-45deg);
    position: relative;
    box-shadow: 10px 20px 90px red;
    animation: A8 2s linear infinite;
}
.heart::before
{
    height: 100px;
    width: 100px;
    background-color: red;
    top: -50%;
    position: absolute;
    border-radius: 50px;
    content: "";
}
.heart::after
{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    border-radius: 50px;
    right: -50%;
    content: "";
}
@keyframes A8
 {
    0%{
        transform: rotate(-45deg) scale(1.09);
       
    }
    80%{
        transform: rotate(-45deg) scale(1.0);
       
    }
    100%{
        transform: rotate(-45deg) scale(1.02);
       
    }

    
}