*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body
{
    background-color: #111;
    animation: swa 2s infinite;
    position: relative;
}
.object
{
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation: SA9 9s infinite;
    position: relative;
}
@keyframes SA9 {
    0%
    {
        top: 0px;
        left: 0px;
        background-color: red;

    }
    25%
    {
        top: 0px;
        left: 1430px;
        background-color: green;

    }
    50%
    {
        top: 630px;
        left: 1400px;
        background-color: blue;

    }
    75%
    {
        top: 630px;
        left: 0px;
        background-color: beige;


    }
    100%
    {
        top: 0px;
        left: 0px;
        background-color: red;

    }
}
@keyframes swa {
    0%
    {
        background-color: rgb(164, 143, 143);
    }
    20%
    {
        background-color: rgb(90, 151, 90);
    }
    40%
    {
        background-color: rgb(99, 99, 145);
    }
    60%
    {
        background-color: rgb(150, 150, 103);
    }
    80%
    {
        background-color: rgb(179, 99, 99);
    }
    100%
    {
        background-color: rgb(149, 129, 129);
    }
   
}
img
{
    width: fit-content;
    height: fit-content;
}